In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('onlinesales.csv')
print(df.head())

   InvoiceNo StockCode Description  Quantity InvoiceDate  UnitPrice  \
0   221958.0  SKU_1964   White Mug      38.0  01-01-2020       1.71
1   771155.0  SKU_1241   White Mug      18.0  01-01-2020      41.25
2   231932.0  SKU_1501  Headphones      49.0  01-01-2020      29.11
3   465838.0  SKU_1760   Desk Lamp      14.0  01-01-2020      76.68
4   359178.0  SKU_1386   USB Cable     -30.0  01-01-2020     -68.11

   CustomerID         Country  Discount  PaymentMethod  ShippingCost  \
0     37039.0       Australia  0.470000  Bank Transfer         10.79
1     19144.0           Spain  0.190000        paypall          9.51
2     50472.0         Germany  0.350000  Bank Transfer         23.03
3     96586.0     Netherlands  0.140000        paypall         11.08
4         NaN  United Kingdom  1.501433  Bank Transfer           NaN

      Category SalesChannel  ReturnStatus ShipmentProvider WarehouseLocation  \
0      Apparel     In-store  Not Returned              UPS            London
1  Electronics       Online  Not Returned              UPS              Rome
2  Electronics       Online      Returned              UPS            Berlin
3  Accessories       Online  Not Returned       Royal Mail              Rome
4  Electronics     In-store  Not Returned            FedEx               NaN

  OrderPriority   Age
0        Medium  22.0
1        Medium  25.0
2          High  30.0
3           Low  28.0
4        Medium  35.0

/tmp/ipython-input-2435553663.py:1: DtypeWarning: Columns (1,2,4,7,9,11,12,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('onlinesales.csv')

In [5]:
age=df['Age'].value_counts()
print(age)

Age
28.0    64
35.0    60
29.0    60
27.0    60
31.0    60
34.0    60
40.0    32
30.0    32
25.0    32
22.0    32
45.0    32
32.0    32
26.0    32
38.0    32
41.0    32
24.0    32
36.0    32
33.0    32
39.0    32
42.0    32
21.0    32
23.0    32
37.0    32
44.0    32
46.0    31
43.0    28
Name: count, dtype: int64